---
import ComedianAsmuni from "@assets/project-assets/cari-tahu-srimulat/comedian-asmuni.png";
import ComedianBasuki from "@assets/project-assets/cari-tahu-srimulat/comedian-basuki.png";
import ComedianDjukdjuk from "@assets/project-assets/cari-tahu-srimulat/comedian-djukdjuk.png";
import ComedianDoyok from "@assets/project-assets/cari-tahu-srimulat/comedian-doyok.png";
import ComedianEko from "@assets/project-assets/cari-tahu-srimulat/comedian-eko.png";
import ComedianGepeng from "@assets/project-assets/cari-tahu-srimulat/comedian-gepeng.png";
import ComedianKadir from "@assets/project-assets/cari-tahu-srimulat/comedian-kadir.png";
import ComedianNunung from "@assets/project-assets/cari-tahu-srimulat/comedian-nunung.png";
import ComedianNurbuat from "@assets/project-assets/cari-tahu-srimulat/comedian-nurbuat.png";
import ComedianRohana from "@assets/project-assets/cari-tahu-srimulat/comedian-rohana.png";
import ComedianTarzan from "@assets/project-assets/cari-tahu-srimulat/comedian-tarzan.png";
import ComedianTeguh from "@assets/project-assets/cari-tahu-srimulat/comedian-teguh.png";
import ComedianTessy from "@assets/project-assets/cari-tahu-srimulat/comedian-tessy.png";
import ComedianTimbul from "@assets/project-assets/cari-tahu-srimulat/comedian-timbul.png";
import TitleHorizontalLine from "@components/project/shared/TitleHorizontalLine.astro";
import { Image } from "astro:assets";
---

<section
  id="comedian-face"
  class="flex w-full flex-col items-center justify-center gap-16"
>
  <TitleHorizontalLine title="SRIMULAT COMEDIAN FACE ILLUSTRATION" />
  <div class="flex w-5/6 flex-col items-center justify-center">
    <div class="flex w-full items-center justify-center">
      <Image
        src={ComedianNurbuat}
        alt="Comedian Nurbuat"
        width={ComedianNurbuat.width / 3}
      />
      <Image
        src={ComedianDoyok}
        alt="Comedian Doyok"
        width={ComedianDoyok.width / 3}
      />
      <Image
        src={ComedianRohana}
        alt="Comedian Rohana"
        width={ComedianRohana.width / 3}
      />
      <Image
        src={ComedianGepeng}
        alt="Comedian Gepeng"
        width={ComedianGepeng.width / 3}
      />
      <Image
        src={ComedianTeguh}
        alt="Comedian Teguh"
        width={ComedianTeguh.width / 3}
      />
    </div>
    <div class="flex w-full items-center justify-center">
      <Image
        src={ComedianEko}
        alt="Comedian Eko"
        width={ComedianEko.width / 3}
      />
      <Image
        src={ComedianNunung}
        alt="Comedian Nunung"
        width={ComedianNunung.width / 3}
      />
      <Image
        src={ComedianBasuki}
        alt="Comedian Basuki"
        width={ComedianBasuki.width / 3}
      />
      <Image
        src={ComedianDjukdjuk}
        alt="Comedian Djukdjuk"
        width={ComedianDjukdjuk.width / 3}
      />
      <Image
        src={ComedianTessy}
        alt="Comedian Tessy"
        width={ComedianTessy.width / 3}
      />
    </div>
    <div class="flex w-full items-center justify-center">
      <Image
        src={ComedianAsmuni}
        alt="Comedian Asmuni"
        width={ComedianAsmuni.width / 3}
      />
      <Image
        src={ComedianKadir}
        alt="Comedian Kadir"
        width={ComedianKadir.width / 3}
      />
      <Image
        src={ComedianTimbul}
        alt="Comedian Timbul"
        width={ComedianTimbul.width / 3}
      />
      <Image
        src={ComedianTarzan}
        alt="Comedian Tarzan"
        width={ComedianTarzan.width / 3}
      />
    </div>
  </div>
</section>
