---
import ArrowRight from "@assets/index/arrow.svg";
import HillaryCenter from "@assets/index/image-center.png";
import Portfolio from "@assets/index/portfolio.svg";
import stationaryCloud1 from "@assets/index/stationary-cloud-1.svg";
import stationaryCloud2 from "@assets/index/stationary-cloud-2.svg";
import stationaryCloud3 from "@assets/index/stationary-cloud-3.svg";
import stationaryCloud4 from "@assets/index/stationary-cloud-4.svg";
import ToHillary from "@assets/index/to-hillary.svg";
import WelcomeImage from "@assets/index/welcome.svg";
import { Image } from "astro:assets";
---

<div class="h-full">
  <Image
    src={stationaryCloud1}
    alt="cloud"
    width={650}
    id="stationary-cloud-1"
  />
  <Image
    src={stationaryCloud2}
    alt="cloud"
    width={600}
    id="stationary-cloud-2"
  />
  <Image
    src={stationaryCloud3}
    alt="cloud"
    width={600}
    id="stationary-cloud-3"
  />
  <Image
    src={stationaryCloud4}
    alt="cloud  "
    width={650}
    id="stationary-cloud-4"
  />
  <Image src={WelcomeImage} alt="welcome" id="welcome" />
  <Image src={ToHillary} alt="to hillary's" id="to-hillary" />
  <Image src={Portfolio} alt="portfolio" id="portfolio" />
  <Image
    src={HillaryCenter}
    alt="Cartoon Hillary"
    width={HillaryCenter.width / 2.5}
    id="hillary-cartoon"
  />
  <a href="/project">
    <Image src={ArrowRight} alt="To Projects" width={140} id="arrow-right" />
  </a>
</div>
